---
import { Badge } from '@repo/design-system/ui/badge'
export interface Props {
  tag: string
  size?: 'sm' | 'lg'
}

const { tag, size = 'sm' } = Astro.props
---

<li
  class={`inline-block ${
    size === 'sm' ? 'my-1 underline-offset-4' : 'my-3 mx-1 underline-offset-8'
  }`}
>
  <a
    href={`/tags/${tag}/`}
    transition:name={tag}
    class={`${size === 'sm' ? 'text-sm' : 'text-lg'} pr-2 group`}
  >
  <Badge>
    {tag}
  </Badge>
  </a>
</li>

<style>
  a {
    @apply hover:text-skin-accent relative underline decoration-dashed hover:-top-0.5 focus-visible:p-1;
  }
  a {
    @apply text-skin-base group-hover:fill-skin-accent h-6 w-6 scale-95 opacity-80;
  }
</style>
