---
import Hr from './Hr.astro'
import Socials from './Socials.astro'

const currentYear = new Date().getFullYear()

export interface Props {
  noMarginTop?: boolean
}

const { noMarginTop = false } = Astro.props
---

<footer class:list={["w-full", { "mt-auto": !noMarginTop }]}>
  <Hr noPadding />
  <div class="flex flex-col items-center justify-center gap-4 py-6 sm:py-4">
    <Socials centered />
    <div class="flex flex-col items-center gap-2 sm:flex-row sm:gap-4">
      <div class="flex gap-4">
        <a href="/privacy" class="hover:underline">プライバシーポリシー</a>
        <span>|</span>
        <a href="/contact" class="hover:underline">お問い合わせ</a>
      </div>
      <span class="hidden sm:inline">|</span>
      <div class="flex items-center whitespace-nowrap">
        <span>Copyright &#169; {currentYear}</span>
        <span class="mx-2">|</span>
        <span>All rights reserved.</span>
      </div>
    </div>
  </div>
</footer>
