apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: immich-library-pvc
  namespace: immich
spec:
  accessModes:
    - ReadWriteOnce # local-pathはReadWriteOnceのみサポート
  resources:
    requests:
      storage: 10Gi # まずは小さめで(後で増やせる)
  storageClassName: standard
